{% load static %}
<div class="header">
    <div class="wrapper">
        <input type="checkbox" name="check" id="check">
        <label for="check">
            <img src="assets/img/Logo.ICPI.jpg" alt="">
        </label>
        <nav>
            <ul class="list">
                <li class="a"><i class="fa-solid fa-book-bookmark"></i> <a href="#">HINOS</a></li>
                <li class="a"><i class="fa-solid fa-user"></i> <a href="#">SOBRE NÓS</a></li>
                <li class="a"><i class="fa-solid fa-envelope"></i> <a href="#">CONTATOS</a>
                </li>
            </ul>
        </nav>
    </div>
    <h1>Hinário ICPI</h1>
</div>