{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'base_style.css' %}">
<link rel="stylesheet" href="{% static 'navbar_style.css' %}">
<link rel="stylesheet" href="{% static 'sobre_style.css' %}">
<script src="https://kit.fontawesome.com/eac1154f77.js" crossorigin="anonymous"></script>
<link rel="icon" type="imagem.png" href="{% static 'img/Logo.ICPI.jpg' %}" />