{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template HINÁRIO</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://kit.fontawesome.com/eac1154f77.js" crossorigin="anonymous"></script>
    <link rel="icon" type="imagem.png" href="/template_front/assets/img/Logo.ICPI.jpg" />
</head>