<span class="navbar">
    {% if select_page == 1 %}
    <span class="select-page">
        1
    </span>
    {% else %}
    <a href="{% url 'hinos01' %}">1</a>
    {% endif %}

    {% if select_page == 2 %}
    <span class="select-page">
        2
    </span>
    {% else %}
    <a href="{% url 'hinos02' %}">2</a>
    {% endif %}

    {% if select_page == 3 %}
    <span class="select-page">
        3
    </span>
    {% else %}
    <a href="{% url 'hinos03' %}">3</a>
    {% endif %}

    {% if select_page == 4 %}
    <span class="select-page">
        4
    </span>
    {% else %}
    <a href="{% url 'hinos04' %}">4</a>
    {% endif %}

    {% if select_page == 5 %}
    <span class="select-page">
        5
    </span>
    {% else %}
    <a href="{% url 'hinos05' %}">5</a>
    {% endif %}

</span>