{% extends 'base_global.html' %}
{% block title %} Sobre {% endblock title %}
{% block content %}
<div class="sobre">
    <h1>ICPI</h1>
    <p>Somos a Igreja de Cristo Pentecostal Internacional (ICPI), fundada em 24 de janeiro de 1937 na cidade de Serra Talhada/PE pelo missionário Horace S. Ward, enviado pela "The Pentecostal Church of Christ". Hoje contamos com igrejas em todos os estados do Brasil e também no Uruguai, Argentina, Venezuela, Itália e Sudão do Sul. Com a sede Administrativa Nacional em Mogi Guaçu/SP, tendo como Superintendente Geral, Reverendo Daniel Aparecido da Silva. "ICPI" há 84 anos evangelizando o Brasil e o mundo com o lema "Levando Cristo ao Mundo".</p>
    <h1>Desenvolvedores - Hinário Digital</h1>
    <a href="https://www.linkedin.com/in/marquesz/" target='blank'>Andriel Marques - Front-End</a>
    <a href="">Arley Marques - Front-End Developer</a>
    <a href="https://www.linkedin.com/in/lucenasoft/", target='blank'>Patricio Gabriel - Full-Stack Developer</a>
</div>
{% endblock content %}
