.navbar {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: auto;
    width: 200px;
    background-color: white;
}

.navbar a {
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.select-page {
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(0, 0, 0);
}