.navbar {
    display: flex;
    justify-content: center;
}

.navbar ul{
    padding: 0;
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding: 5px 12px 5px 12px;
    border: none;
    margin-left: 5px;
    background-color: white;
    border-radius: 10px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.navbar li:hover{
    background-color: orange;
}

.navbar a:hover{
    color: white;
}